* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    user-select: none;
    box-sizing: border-box;
}
body {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
}
#titleText {
    width: 100%;
    height: 200px;
    color: white;
}
#titleText #title {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
    font-size: 35px;
    font-weight: bold;
}
#half {
    display: flex;
}
#flex {
    display: flex;
    width: 100%;
    height: 50px;
    padding-top: 60px;
}
#result {
    border: 4px solid black;
    border-radius: 30px;
}
#result .win {
    color: lime;
}
#result .loss {
    color: red;
}
#draw {
    display: none;
}
#name1, #name2, #result {
    flex-basis: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
#name1, #name2 {
    border: 4px solid yellow;
    border-radius: 30px;
    height: 75px;
    max-height: 75px;
}
#name1 {
    margin-left: 190px;
    margin-right: 190px;
}
#name2 {
    margin-left: 150px;
}
#main {
    width: 100%;
    height: 100%;
    display: flex;
}
#player1, #player2 {
    flex-basis: 40%;
}
#resetDiv  {
    padding-top: 200px;
    flex-basis: 20%;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
#resetDiv #resetText {
    font-size: 20px;
}
#player1{
    height: 100%;
}
#player1 h2 {
    margin-top: 25px;
    color: red;
}
#player2 {
    height: 100%;
}
#player2 h2 {
    margin-top: 25px;
    color: red;
}
#center1 {
    padding-left: 310px;
}
#center2 {
    padding-left: 280px;
}
#choose1{
    width: 300px;
    height: 250px;
    margin: 30px;
    margin-left: 225px;
}
#choose2 {
    width: 300px;
    height: 250px;
    margin: 30px;
    margin-left: 200px;
}
#posMain1 {
    display: flex;
    margin-top: 45px;
    margin-bottom: 15px;
    margin-left: 225px;
}
#posMain2 {
    display: flex;
    margin-top: 45px;
    margin-bottom: 15px;
    margin-left: 190px;
}
.P1pos1, .P1pos2, .P1pos3 {
    width: 75px;
    height: 75px;
    margin-bottom: 70px;
}
.P1pos1 {
    margin-right: 35px;
}
.P1pos2 {
    margin-right: 40px;
}
.P2pos1, .P2pos2, .P2pos3 {
    width: 75px;
    height: 75px;
    margin-bottom: 280px;
}
.P2pos1 {
    margin-right: 35px;
}

.P2pos2 {
    margin-right: 40px;
}
#resetDiv {
    height: 50px;
    width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#resetText {
    margin-left: 50px;
    font-size: 20px;
    margin-top: 5px;
}
#pressDiv {
    width: 250px;
    padding-top: 15px;
    height: 50px;
}